input.wf2_invalid, textarea.wf2_invalid, select.wf2_invalid, div.wf2_errorMsg  { background-color:#FFCCCC; }

div.wf2_errorMsg {
	position:absolute;
	border:dotted 1px red;
	padding:.25em .5em .25em .5em;
	cursor:default;
	font-size:smaller;
	max-width:25%;
	opacity:0.5;	
	filter: alpha(opacity=50);
}

div.wf2_firstErrorMsg,
div.wf2_errorMsg:hover {
	opacity:1.0;
	filter: alpha(opacity=100);
}
div.wf2_errorMsg:hover {
	z-index:100;
}

div.wf2_errorMsg ol {
	list-style-position:inside;
	margin:0;
	padding:0;
}
div.wf2_errorMsg ol.single,
div.wf2_errorMsg ol.single li {
	list-style:none;
	display:inline;
}
/*
@namespace xh url(http://www.w3.org/1999/xhtml);
:not(xh|*)[xh|repeat="template"],
xh|*[|repeat="template"] {
	display: none;
}*/

*[repeat="template"] {
	display:none;
}