input.wf2_invalid, textarea.wf2_invalid, select.wf2_invalid { background-color:#FFCCCC; }

.wf2_errorMsg 
{
	position:absolute; display:inline; border:dotted 1px red; background-color:white; padding:.25em; 
	padding-left:.5em;
	/*padding-right:3em;*/
	cursor:default;
	background-color:#FFCCCC;
	font-size:smaller;
	opacity:.5;	
	filter: alpha(opacity=50);
}
.wf2_firstErrorMsg 
{
	opacity:1;
	filter: alpha(opacity=100);
}

.wf2_errorMsg:hover 
{
	/*background-color:Black;
	color:White;
	opacity:.4;*/
	opacity:1 !important;
	z-index:1000 !important;
}

.wf2_errorMsg ol 
{
	list-style-position:inside;
	margin:0;
	padding:0;
}
.wf2_errorMsg ol.single 
{
	list-style:none;
}
.wf2_errorMsg ol.single li 
{
	margin:0;
	padding:0;
}

.wf2_errorMsg a.closeErrorMsg 
{
	display:none;
	
	position:absolute;
	top:.25em;
	right:.5em;
	text-decoration:none;
	color:gray;
	font-size:13pt;
}
.wf2_errorMsg a.closeErrorMsg:hover 
{
	color:Red;
	font-weight:bold;
}